USE [p7g1]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Animacao]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Animacao](
	[preco_animacao] [decimal](10, 2) NOT NULL,
	[n_horas_animacao] [int] NOT NULL,
	[n_animadores] [int] NOT NULL,
	[ID_tipo_tema_animacao] [int] NULL,
	[ID_atividade_animacao] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_atividade_animacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Atividade]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Atividade](
	[ID_atividade] [int] IDENTITY(1,1) NOT NULL,
	[Preco_atividade] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Atividad__2B94583EB0EB8FB4] PRIMARY KEY CLUSTERED 
(
	[ID_atividade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Banda]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Banda](
	[preco_banda] [decimal](10, 2) NOT NULL,
	[ID_atividade_banda] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_atividade_banda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Catering]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Catering](
	[preco_catering] [decimal](10, 2) NOT NULL,
	[n_menu_catering] [int] NULL,
	[ID_atividade_catering] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_atividade_catering] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Cliente]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Cliente](
	[NIF] [varchar](9) NOT NULL,
	[Nome_cliente] [varchar](40) NOT NULL,
	[Email] [varchar](40) NOT NULL,
	[Telefone] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[DJ]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[DJ](
	[preco_DJ] [decimal](10, 2) NOT NULL,
	[ID_atividade_DJ] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_atividade_DJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Evento]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Evento](
	[ID_evento] [int] IDENTITY(1,1) NOT NULL,
	[Data_hora_evento] [datetime] NOT NULL,
	[Duracao_horas_evento] [int] NOT NULL,
	[Data_hora_fim_evento]  AS (dateadd(hour,[Duracao_horas_evento],[Data_hora_evento])) PERSISTED,
	[Participantes] [int] NOT NULL,
	[Cliente_evento] [varchar](9) NULL,
	[Local_evento] [int] NULL,
	[ID_tipo_evento] [int] NULL,
	[Preco_total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Fotografia]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Fotografia](
	[preco_fotografia] [decimal](10, 2) NOT NULL,
	[n_sessoes] [int] NOT NULL,
	[altura_dia] [varchar](20) NOT NULL,
	[preco_sessao] [decimal](10, 2) NOT NULL,
	[ID_atividade_fotografia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_atividade_fotografia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Inclui]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Inclui](
	[ID_evento_inclui] [int] NOT NULL,
	[ID_atividade_inclui] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_evento_inclui] ASC,
	[ID_atividade_inclui] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Local]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Local](
	[ID_local] [int] IDENTITY(1,1) NOT NULL,
	[Nome_local] [varchar](20) NOT NULL,
	[Morada] [varchar](40) NOT NULL,
	[Max_capacidade] [int] NOT NULL,
	[Preco_local] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Local__F0A70D415FA1F99B] PRIMARY KEY CLUSTERED 
(
	[ID_local] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Menu]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Menu](
	[preco_menu] [decimal](10, 2) NOT NULL,
	[n_menu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[n_menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Musica]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Musica](
	[preco_musica] [decimal](10, 2) NOT NULL,
	[n_horas] [int] NOT NULL,
	[ID_atividade_musica] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_atividade_musica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Tem_atividade]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Tem_atividade](
	[Tipo_evento_tem_atividade] [int] NOT NULL,
	[Atividade_tem_atividade] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tipo_evento_tem_atividade] ASC,
	[Atividade_tem_atividade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Tema]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Tema](
	[ID_tipo_tema] [int] IDENTITY(1,1) NOT NULL,
	[preco_tema] [decimal](10, 2) NOT NULL,
	[nome_tema] [varchar](30) NOT NULL,
 CONSTRAINT [PK__Tema__B245D9EB1D21B818] PRIMARY KEY CLUSTERED 
(
	[ID_tipo_tema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PROJETO_GESTAO_EVENTOS].[Tipo_evento]    Script Date: 03/06/2026 02:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROJETO_GESTAO_EVENTOS].[Tipo_evento](
	[ID_tipo] [int] IDENTITY(1,1) NOT NULL,
	[Nome_tipo_evento] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Tipo_eve__E151C96410B60E30] PRIMARY KEY CLUSTERED 
(
	[ID_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Animacao] ADD  DEFAULT ((0)) FOR [preco_animacao]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Animacao] ADD  DEFAULT ((0)) FOR [n_horas_animacao]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Animacao] ADD  DEFAULT ((0)) FOR [n_animadores]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Atividade] ADD  CONSTRAINT [DF__Atividade__Preco__32CB82C6]  DEFAULT ((0)) FOR [Preco_atividade]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Catering] ADD  DEFAULT ((0)) FOR [preco_catering]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Fotografia] ADD  DEFAULT ((0)) FOR [preco_fotografia]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Musica] ADD  DEFAULT ((0)) FOR [preco_musica]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Musica] ADD  DEFAULT ((0)) FOR [n_horas]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Animacao]  WITH CHECK ADD  CONSTRAINT [FK__Animacao__ID_ati__6FD49106] FOREIGN KEY([ID_atividade_animacao])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Atividade] ([ID_atividade])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Animacao] CHECK CONSTRAINT [FK__Animacao__ID_ati__6FD49106]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Animacao]  WITH CHECK ADD  CONSTRAINT [FK__Animacao__ID_tip__6EE06CCD] FOREIGN KEY([ID_tipo_tema_animacao])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Tema] ([ID_tipo_tema])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Animacao] CHECK CONSTRAINT [FK__Animacao__ID_tip__6EE06CCD]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Banda]  WITH CHECK ADD FOREIGN KEY([ID_atividade_banda])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Musica] ([ID_atividade_musica])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Catering]  WITH CHECK ADD  CONSTRAINT [FK__Catering__ID_ati__76818E95] FOREIGN KEY([ID_atividade_catering])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Atividade] ([ID_atividade])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Catering] CHECK CONSTRAINT [FK__Catering__ID_ati__76818E95]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Catering]  WITH CHECK ADD FOREIGN KEY([n_menu_catering])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Menu] ([n_menu])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[DJ]  WITH CHECK ADD FOREIGN KEY([ID_atividade_DJ])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Musica] ([ID_atividade_musica])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Evento]  WITH CHECK ADD  CONSTRAINT [FK__Evento__Cliente___0F4D3C5F] FOREIGN KEY([Cliente_evento])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Cliente] ([NIF])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Evento] CHECK CONSTRAINT [FK__Evento__Cliente___0F4D3C5F]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Evento]  WITH CHECK ADD  CONSTRAINT [FK__Evento__ID_tipo___113584D1] FOREIGN KEY([ID_tipo_evento])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Tipo_evento] ([ID_tipo])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Evento] CHECK CONSTRAINT [FK__Evento__ID_tipo___113584D1]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Evento]  WITH CHECK ADD  CONSTRAINT [FK__Evento__Local_ev__10416098] FOREIGN KEY([Local_evento])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Local] ([ID_local])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Evento] CHECK CONSTRAINT [FK__Evento__Local_ev__10416098]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Fotografia]  WITH CHECK ADD  CONSTRAINT [FK__Fotografi__ID_at__664B26CC] FOREIGN KEY([ID_atividade_fotografia])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Atividade] ([ID_atividade])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Fotografia] CHECK CONSTRAINT [FK__Fotografi__ID_at__664B26CC]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Inclui]  WITH CHECK ADD  CONSTRAINT [FK__Inclui__ID_ativi__18D6A699] FOREIGN KEY([ID_atividade_inclui])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Atividade] ([ID_atividade])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Inclui] CHECK CONSTRAINT [FK__Inclui__ID_ativi__18D6A699]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Inclui]  WITH CHECK ADD  CONSTRAINT [FK__Inclui__ID_event__17E28260] FOREIGN KEY([ID_evento_inclui])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Evento] ([ID_evento])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Inclui] CHECK CONSTRAINT [FK__Inclui__ID_event__17E28260]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Musica]  WITH CHECK ADD  CONSTRAINT [FK__Musica__ID_ativi__5708E33C] FOREIGN KEY([ID_atividade_musica])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Atividade] ([ID_atividade])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Musica] CHECK CONSTRAINT [FK__Musica__ID_ativi__5708E33C]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Tem_atividade]  WITH CHECK ADD  CONSTRAINT [FK__Tem_ativi__Ativi__38845C1C] FOREIGN KEY([Atividade_tem_atividade])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Atividade] ([ID_atividade])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Tem_atividade] CHECK CONSTRAINT [FK__Tem_ativi__Ativi__38845C1C]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Tem_atividade]  WITH CHECK ADD  CONSTRAINT [FK__Tem_ativi__Tipo___379037E3] FOREIGN KEY([Tipo_evento_tem_atividade])
REFERENCES [PROJETO_GESTAO_EVENTOS].[Tipo_evento] ([ID_tipo])
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Tem_atividade] CHECK CONSTRAINT [FK__Tem_ativi__Tipo___379037E3]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Cliente]  WITH CHECK ADD  CONSTRAINT [CHK_NIF_Numerico] CHECK  ((NOT [NIF] like '%[^0-9]%'))
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Cliente] CHECK CONSTRAINT [CHK_NIF_Numerico]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Cliente]  WITH CHECK ADD  CONSTRAINT [CHK_Telefone_Numerico] CHECK  ((NOT [Telefone] like '%[^0-9]%'))
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Cliente] CHECK CONSTRAINT [CHK_Telefone_Numerico]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Cliente]  WITH CHECK ADD  CONSTRAINT [DF_EMAIL_CHECK] CHECK  (([Email] like '%@%.%'))
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Cliente] CHECK CONSTRAINT [DF_EMAIL_CHECK]
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Fotografia]  WITH CHECK ADD  CONSTRAINT [CHK_n_sessoes_positivo] CHECK  (([n_sessoes]>(0)))
GO
ALTER TABLE [PROJETO_GESTAO_EVENTOS].[Fotografia] CHECK CONSTRAINT [CHK_n_sessoes_positivo]
GO
